@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css');

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	/*background-color: #191919;*/
	margin: 0px;
}

.container {
	display: flex;

	border-radius: 8px;

	padding: 0.5rem;
	gap: 0.5rem;
}
.container-work {
	background-color: #e14444;
}
.container-break {
	background-color: #247BA0;
}

.column {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
}

.timer-column {
	width: 9%;
}

.clocktext {
	font-size: 2rem;
	font-family: iA Writer Mono var;
	color: white;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.colon {
	font-size: 1.5rem;
}

#startstop {
	background-color: #b9cf99;
}
#mode {
	background-color: #fde69d;
}

.bi {
	font-size: 2.5em;
}

.caretbox {
	display: flex;
	flex-direction: column;
	align-items: center;

	cursor: pointer;
	user-select: none;
	color: white;
}

.caretdown {
	transform: rotate(180deg);
}
@media (hover: hover) {
	.caretup:hover {
		color: white;
		background: linear-gradient(to top, hsla(0, 0%, 0%, 20%), transparent 20%);
	}
	.caretdown:hover {
		color: white;
		background: linear-gradient(to top, hsla(0, 0%, 0%, 20%), transparent 20%);
	}
}

.caretbox:active {
	color: black;
}

.buttonbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: space-around;
	height: 100%;

	outline: 1px dashed white;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.2rem;
	font-family: iA Writer Mono var;
	font-weight: bold;

	color: black;
	border-radius: 8px;

	min-width: 5rem;
	user-select: none;
	flex-grow: 1;
}
@media (hover: hover) {
	.button:hover {
		box-shadow: 0px 0px 10px -1px hsla(0, 0%, 0%, 100%);
		font-weight: bold;
		cursor: pointer;
	}
}

.button:active {
	color: white;
	font-weight: bold;
}
